<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>SOAR Login</title>

    <link rel="stylesheet" href="/static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/static/dist/css/adminlte.min.css">
</head>

<body class="hold-transition login-page">

<div class="login-box">

    <div class="login-logo">
        <b>SOAR</b> Engine
    </div>

    <div class="card">

        <div class="card-body login-card-body">

            <p class="login-box-msg">
                Sign in to continue
            </p>

            {% if error %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
            {% endif %}

            <form action="/login" method="post">

                <div class="input-group mb-3">

                    <input
                        type="text"
                        class="form-control"
                        name="username"
                        placeholder="Username"
                        required>

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>

                </div>

                <div class="input-group mb-3">

                    <input
                        type="password"
                        class="form-control"
                        name="password"
                        placeholder="Password"
                        required>

                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-12">

                        <button
                            type="submit"
                            class="btn btn-primary btn-block">

                            Login

                        </button>

                    </div>

                </div>

            </form>

        </div>

    </div>

</div>

<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/dist/js/adminlte.min.js"></script>

</body>

</html>